.wrappers{
    background-color:rgb(10, 10, 124);
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 20px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
}
.logo h1 {
    cursor: pointer;
}
.userlist {
    display: flex;
    align-items:center;
    gap: 20px;
}
.userlist p {
    cursor: pointer;
}